[Unit]
Description=MySQL Server {{ inventory_hostname }}
After=network.target

[Service]
User=mysql
Group=mysql
ExecStart={{ mysql_install_dir }}/bin/mysqld --defaults-file={{ mysql_config_path }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target