[Unit]
Description=Nginx Service Instance {{ inventory_hostname }}
After=network.target

[Service]
Type=forking
PIDFile={{ nginx_install_dir }}/logs/nginx.pid
ExecStartPre={{ nginx_install_dir }}/sbin/nginx -t -c {{ nginx_install_dir }}/conf/nginx.conf
ExecStart={{ nginx_install_dir }}/sbin/nginx -c {{ nginx_install_dir }}/conf/nginx.conf
ExecReload={{ nginx_install_dir }}/sbin/nginx -s reload -c {{ nginx_install_dir }}/conf/nginx.conf
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
User={{ nginx_user }}
Group={{ nginx_group }}
AmbientCapabilities=CAP_NET_BIND_SERVICE
EnvironmentFile=-/etc/sysconfig/nginx@%i

[Install]
WantedBy=multi-user.target