# nginx-mng/templates/nginx.conf.j2
user {{ nginx_user }} {{ nginx_group }};
worker_processes auto;
pid {{ nginx_install_dir }}/logs/nginx.pid;

events {
    worker_connections 1024;
    multi_accept on;
    use epoll;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  {{ nginx_install_dir }}/logs/access.log  main;
    error_log   {{ nginx_install_dir }}/logs/error.log warn;

    sendfile        on;
    tcp_nopush      on;
    tcp_nodelay     on;
    server_tokens   off;

    keepalive_timeout  65;
    client_max_body_size 64m;

    gzip  on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_types text/plain text/css application/javascript application/json application/x-javascript text/xml application/xml application/rss+xml text/javascript image/svg+xml application/vnd.ms-fontobject application/x-font-ttf font/opentype;

    include {{ nginx_install_dir }}/conf/conf.d/*.conf;
}