[Unit]
Description=Nginx Service Instance {{ inventory_hostname }}
After=network.target

[Service]
Type=forking
PIDFile={{ nginx_install_dir }}/{{ inventory_hostname }}/logs/nginx.pid
ExecStartPre={{ nginx_install_dir }}/{{ inventory_hostname }}/sbin/nginx -t -c {{ nginx_install_dir }}/{{ inventory_hostname }}/conf/nginx.conf
ExecStart={{ nginx_install_dir }}/{{ inventory_hostname }}/sbin/nginx -c {{ nginx_install_dir }}/{{ inventory_hostname }}/conf/nginx.conf
ExecReload={{ nginx_install_dir }}/{{ inventory_hostname }}/sbin/nginx -s reload -c {{ nginx_install_dir }}/{{ inventory_hostname }}/conf/nginx.conf
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
User=nginx
Group=nginx
EnvironmentFile=-/etc/sysconfig/nginx@%i

[Install]
WantedBy=multi-user.target